<?php require 'app/Views/header.html';

	echo "<p>Expéditeur :".transformToPseudo($expediteur->prenom,$expediteur->nom)."</p>";
	echo "<p>Destinataire :".transformToPseudo($destinataire->prenom,$destinataire->nom)."</p>";
	echo "<p>Titre : ".$message->titre."</p>";
	echo "<p>Message : <br /><hr />".$message->message."<hr /></p>";
	echo "<p><i>Le ".transformToDate($message->date)."</i><br /><br /><br /></p>";

	if($destinataire->id==$user->id) 
	{
		?>
		<h3>Répondre à ce message :</h3>
		<form action="nouveau" method="POST">
			<input type="hidden" name="titre" value="<?php echo 'Re: '.$message->titre; ?>" />
			<input type="hidden" name="id_membre2" value="<?php echo $message->id_membre1; ?>" />
			<textarea name="message" placeholder="Votre réponse ici" required></textarea><br />
			<input type="submit" value="Envoyer" />
		</form>
		<?php 
	} 

require 'app/Views/footer.html'; 
?>