<?php require 'app/Views/header.html'; ?>
 	<form method="post" action="inscription"><br />Pour vous inscrire, merci de remplir le formulaire ci-dessous.<br /><br />
 		<input type="mail" placeholder="Adresse E-mail" name="mail" <?php if(isset($form_mail)) { echo "value='$form_mail'"; } ?> required /><br /><br />
		<input type="text" placeholder="Prénom" name="prenom" <?php if(isset($form_mail)) { echo "value='$form_prenom'"; } ?> required /><br /><br />
		<input type="text" placeholder="Nom" name="nom" <?php if(isset($form_nom)) { echo "value='$form_nom'"; } ?> required /><br /><br />
		<input type="text" placeholder="Vos services" <?php if(isset($form_description)) { echo "value='$form_description'"; } ?> name="description" /><br /><br />
		<input type="password" placeholder="Password 1" name="password1" required /><br /><br />
		<input type="password" placeholder="Password 2" name="password2" required /><br /><br />
		<input type="submit" value="Je m'inscris !" />
	</form>
<?php require 'app/Views/footer.html'; ?>