<?php require 'app/Views/header.html'; ?>
 	<form method="post" action="<?php echo $site_url; ?>inscription"><br />Pour vous inscrire, merci de remplir le formulaire ci-dessous.<br /><br />
 		<input type="mail" placeholder="Adresse E-mail" name="mail" <?php if(isset($form_mail)) { echo "value='$form_mail'"; } ?> required /><br /><br />
		<input type="text" placeholder="Prénom" name="prenom" <?php if(isset($form_mail)) { echo "value='$form_prenom'"; } ?> required /><br /><br />
		<input type="text" placeholder="Nom" name="nom" <?php if(isset($form_nom)) { echo "value='$form_nom'"; } ?> required /><br /><br />
		<textarea placeholder="Vos services" name="description" ><?php if(isset($form_description)) { echo $form_description; } ?></textarea><br /><br />
		<input type="password" placeholder="Password 1" name="password1" required /><br /><br />
		<input type="password" placeholder="Password 2" name="password2" required /><br /><br />
		<input type="text" placeholder="tags" name="tags" />
		Disponibilités :<br />
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="1">Lundi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="2">Mardi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="3">Mercredi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="4">Jeudi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="5">Vendredi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="6">Samedi<BR>
                        <INPUT TYPE="checkbox" NAME="dispo_jours" VALUE="7">Dimanche<BR>
                        	<!-- Remplacer text par hidden dans type pour les deux lignes ci-dessous -->
                         Horaire (De 8h à 16h : 08,16) <input type="text" id="dispo_heures" name="dispo_heures" placeholder="xx,xx" size="5" /><br /><br />

	                          	
						<?php if(isset($id_parrain)) { ?>
							ID parrain : <input type="text" name="id_parrain" <?php echo 'value="'.$id_parrain.'"'; ?> readonly /><br />
						<?php
						}
						?>

						<br />
	                          	
		<input type="submit" value="Je m'inscris !" />
	</form>
<?php require 'app/Views/footer.html'; ?>