<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Sharing Services - Accueil</title> <!-- Sharing Services - Sébastien C. (2) -->
<meta name="description" content="Site communautaire de partage de services. Le flux d'actualité vous permet de voir toutes les nouvelles annonces correspondant à vos critères.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="img/assets/favicon.ico" />
<link rel="stylesheet" media="screen" href="css/style.css">
<link rel="stylesheet" href="css/mfglabs_iconset.css">
</head>
<body>

<div class="container">

        <header>
            <div class="userbar">
                <div class="logo">
                    <img src="img/logophp.png" alt="">
                    <h1>SHARING<span class="services">SERVICES</span></h1>
                </div>
                <div class="clear"></div>
                <ul>
                    <li><a href="sedeconnecter"><i class="icon-signout"></i><span class="bulle">Se déconnecter</span></a></li>
                    <li><a href="lienprofil">Bonjour <span class="bold">Sébastien C.</span></a></li>
                    <li><a href="profil"><i class="icon-user darkblue"></i><span class="bulle">Profil</span></a></li>
                    <li><a href="services" class="notifications" data-notification="2"><i class="icon-calendar darkblue"></i><span class="bulle">Services</span></a></li>
                    <li><a href="messagerie" class="notifications" data-notification="5"><i class="icon-message darkblue"></i><span class="bulle">Messageries</span></a></li>
                    <li><a href="ajoutercredits" class="bold">17 <span class="credits"> crédits </span> <i class="icon-plus"></i></a></li>
                </ul>
            </div>
        </header>

        <nav>
            <div class="menu">
                <ul>
                    <li><a href="index.html" class="current">Flux d'actualités</a> | </li>
                    <li><a href="newannonce">Créer une annonce</a> |  </li>
                    <li><a href="parcourir">Parcourir les annonces</a></li>
                    <li>
                        <form method='post' action='#' >    
                        <input type="search" size="35" placeholder="Rechercher..." name="the_search">
                        </form>
                    </li>
                </ul>

                <select> 
                <option value="" selected="selected">Menu</option> 
                <option value="/">Flux d'actualités</option> 
                <option value="/annonces/create">Créer une annonce</option> 
                <option value="/annonces/parcourir">Parcourir les annonces</option> 
                </select> 
            </div>
        </nav>
        
        <div class="main">
                <div class="wrapper">
                    <div class="mentions">
                    <h2><span>mentions légales</span></h2>
                    <div class="content">
                    <div class="espacement">
                    <p>Sharing Services est un service de HETIC</p>
                    
                    <p>
                    HETIC
                    11, rue du progrès
                    93110 Montreuil
                    SIREN : 532962201
                    TVA intracommunautaire : FR532999832201
                    </p>
                    
                    <p>
                    Site internet: http://sharingservices.com<br/>
                    Contact e-mail: contact@sharingservices.com
                     </p>

                    <p>Ce site a été enregistrée à la CNIL sous le numéro 1513854.<br/>
                    Conformément à la loi « Informatique et Libertés » N° 78-17 du 6 Janvier 1978 , vous bénéficiez d’un droit d’accès, de rectification et d’opposition que vous pouvez excercer en vous adressant à : contact@sharingservices.com<br/>
                    Ou par courrier à l’adresse suivante :</p>
                    <p>HETIC<br/>
                    11, rue du progrès<br/>
                    93110 Montreuil </p>

                    <h4>Crédits photos :</h4>

                    <p>Florian Deccuper<br/>
                    Agathe Lebon</p>
                    </div>
                    </div>
                    </div>
                </div>
                <footer>
                   <ul>
                       <li><a href="">A Propos</a> |</li>
                       <li><a href="">CGU</a> |</li>
                       <li><a href="">Mentions légales</a> |</li>
                       <li><a href="">Contact</a> </li>
                   </ul>
                </footer>
        </div>
        

</div>

<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
