<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Achat Credits</title> <!-- Sharing Services - Sébastien C. (2) -->
<meta name="description" content="Site communautaire de partage de services. Le flux d'actualité vous permet de voir toutes les nouvelles annonces correspondant à vos critères.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="img/assets/favicon.ico" />
<link rel="stylesheet" media="screen" href="css/style.css">
<link rel="stylesheet" href="css/mfglabs_iconset.css">
</head>
<body>
  <div class="credits">
      <div class="box"> <!-- Main Container -->    

            <div class="bubble"> <!-- Bubble -->
            <div class="rectangle"><h3>Crédits</h3></div> <!-- Rectangle with a title -->
            <div class="triangle-l"></div> <!-- Left triangle -->
            <div class="triangle-r"></div> <!-- Right triangle -->
            <div class="info">
            <h5>VOUS AVEZ : <span>140 <img src="img/credits.png" alt="credits"></span></h5>
            
                <p>Pour en obtenir plus :</p>
                <a href=""><img src="img/10credits.png" alt="10 credits"></a>
                <a href=""><img src="img/20credits.png" alt="20 credits"></a>
                <a href=""><img src="img/50credits.png" alt="50 credits"></a>
            
            </div>
        </div>
    </div>
    </div>  
<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
