<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8">
<title>Répondre annonce</title> <!-- Sharing Services - Sébastien C. (2) -->
<meta name="description" content="Site communautaire de partage de services. Le flux d'actualité vous permet de voir toutes les nouvelles annonces correspondant à vos critères.">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="shortcut icon" type="image/x-icon" href="img/assets/favicon.ico" />
<link rel="stylesheet" media="screen" href="css/style.css">
<link rel="stylesheet" href="css/mfglabs_iconset.css">
</head>
<body>
  <div class="repondre">
      <div class="box"> <!-- Main Container -->    

            <div class="bubble"> <!-- Bubble -->
            <div class="rectangle"><h3>répondre à cette annonce</h3></div> <!-- Rectangle with a title -->
            <div class="triangle-l"></div> <!-- Left triangle -->
            <div class="triangle-r"></div> <!-- Right triangle -->
            <div class="info">
            <h5>En échange de ce service, vous souhaitez recevoir  : </h5>

            <form action="#">
                <input type="text"><img src="img/credits.png" alt="credits">
                <label for="commentaire">Ajoutez un commentaire ici (par exemple, précisez vos disponibilités ou vantez vos mérites pour que votre annonce soit sélectionnée) :</p>
               <textarea name="commentaire" id="commentaire" cols="70" rows="10" placeholder="Votre commentaire"></textarea>
               <input type="submit" value="envoyer">
            </form>
            </div>
        </div>
    </div>
    </div>  
<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
