<?php require 'app/Views/header.html'; ?><br />
 	<p><?php echo $annonce->description; ?></p><br />
 	<p><?php echo $annonce->prix; ?> Euros</p><br />
 	<p>Postée le <?php echo transformToDate($annonce->date); ?> par <a href="../membre/<?php echo $user->id; ?>"><?php echo transformToPseudo($user->prenom,$user->nom); ?></a><br /><?php if($annonce->id_membre!=$user->id) { ?><a href="annonce/<?php echo $annonce->id; ?>/proposition">Faire une proposition sur cette annonce</a><br /><?php } ?></p><p class="signaler" class="lien">Signaler cette annonce</p>
<?php require 'app/Views/footer.html'; ?>