<?php require 'app/Views/header.html'; ?>   
                    <p><span class="thesite">SHARING <span>SERVICES</span></span> est un site d’échange de services accessible à tous. Vous avez besoin d’un informaticien, vous n’en connaissez pas, et vous aimeriez que la réparation soit gratuite? C’est maintenant possible avec SHARING SERVICES.<br/>
                    Le principe est simple : à votre inscription, vous recevez 10 crédits qui vous permettront de “rémunérer” la personne qui vous rendra un service. Plus de crédits? Rendez service à votre tour, et gagnez des crédits!</p> 
                    <p><span class="thesite">SHARING <span>SERVICES</span></span> est le fruit d’une idée originale de 7 étudiants serviables et passionnés par le web.<br/> 
                    Agathe, Aurore, Florian, Jennifer, Rémi et Sébastien sont tous étudiants en 3ème année à HETIC, l’école des métiers de l’internet.</p>
                   <div class="memberscontent">
                    <div class="members">
                        <div class="container">
                        <figure><img src="img/agathe.png" alt="Agathe"></figure>
                        <h5>Agathe Lebon</h5>
                        <p>Plombière</p>
                        </div>
                    </div>
                    <div class="members">
                         <div class="container">
                        <figure><img src="img/aurore.png" alt="Aurore"></figure>
                        <h5>Aurore Génisson</h5>
                        <p>Mécanicienne</p>
                        </div>
                    </div>
                    <div class="members">
                         <div class="container">
                        <figure><img src="img/jennfer.png" alt="Jennifer"></figure>
                        <h5>Jennifer Vernalde</h5>
                        <p>Couturier</p>
                        </div>
                    </div>
                    <div class="members">
                         <div class="container">
                        <figure><img src="img/florian.png" alt="Florian"></figure>
                        <h5>Florian Decupper</h5>
                        <p>Déménageuse</p>
                        </div>
                    </div>
                    <div class="members">
                         <div class="container">
                        <figure><img src="img/remi.png" alt="Rémi"></figure>
                        <h5>Rémi Fayolle</h5>
                        <p>Nourrice</p>
                        </div>
                    </div>
                     <div class="members">
                         <div class="container">
                        <figure><img src="img/sebastien.png" alt="Sébastien"></figure>
                        <h5>Sébastien Carbain</h5>
                        <p>Esthéticien</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                    </div>
           <?php require 'app/Views/footer.html'; ?>
