<?php require 'app/Views/header.html'; ?>  
                   <form id="contact" method="post" action="contact">
                       <label for="pseudo">Pseudo :</label>
                       <input type="text" name="pseudo" id="pseudo" <?php if(isset($form_pseudo)) { echo "value='$form_pseudo'"; }elseif(isset($user)){ echo 'value="'.transformToPseudo($user->prenom,$user->nom).'"'; } ?> autofocus required >
                       <label for="email">Email :</label>
                       <input type="email" name="mail" id="mail" <?php if(isset($form_mail)) { echo "value='$form_mail'"; }elseif(isset($user)){echo 'value="'.$user->mail.'"';} ?> required>
                       <label for="titre">Sujet :</label>
                       <input type="text" id="titre" name="titre" <?php if(isset($form_titre)) { echo "value='$form_titre'"; } ?>  required>
                       <label for="message">Message :</label>
                        <input type="text" name="message" id="message" <?php if(isset($form_message)) { echo $form_message; } ?> required>
                        
                        <input type="submit" value="envoyer">

                   </form>
    <?php require 'app/Views/footer.html'; ?>