
			<?php 
			// require('app/Views/bloc_membre.html');
				require('app/Views/signalement/popup.html'); ?>

                </div>
                <footer>
                   <ul>
                       <li><a href="">A Propos</a> |</li>
                       <li><a href="">CGU</a> |</li>
                       <li><a href="">Mentions légales</a> |</li>
                       <li><a href="<?php echo $site_url; ?>contact">Contact</a> </li>
                   </ul>
                </footer>
        </div>
<script src="js/lib/jquery-1.9.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
