<div class="clear"></div>      
			<?php 
				// require('app/Views/signalement/popup.html'); ?>
            </div>
              </div>
                </div>
                <footer>
                   <ul>
                       <li><a href="<?php echo $site_url; ?>a-propos">A Propos</a> |</li>
                       <li><a href="<?php echo $site_url; ?>cgu">CGU</a> |</li>
                       <li><a href="<?php echo $site_url; ?>mentions-legales">Mentions légales</a> |</li>
                       <li><a href="<?php echo $site_url; ?>contact">Contact</a> </li>
                   </ul>
                </footer>
        </div>
</body>
</html>
